
.logout {
	position:absolute;
   top:0;
   right: 0;
   padding-right: 10px;
}

.dropdown {
	position:absolute;
   top:10;
   right: 0;
   padding-right: 10px;
}

.dropdown_show {
  position: absolute;
  right: 0;
  top: 30px;
  padding-right: 10px;
}

