<div class="dropdown">
    <a href="#" class="button success" data-options="align:left" data-dropdown="drop">Current Checkouts &raquo;</a>
      <ul id="drop" class="large f-dropdown" data-dropdown-content>
        <% if @current_checkouts.length == 0 %>
          <li>There are no books checkedout</li>
        <%else%>
          <% @current_checkouts.each do |checkout| %>
            <li><%= link_to 'View Details', book_path(checkout.id) %><strong><%= checkout.title %></strong></li>
          <%end%>
        <%end%>  
      </ul>
</div> 